<body ng-app="app" ng-controller="CharacterCtrl" ng-init="getLadder()">
	<div class="container-fluid">
		<div id="loadingGif" style="position: absolute;height: 50px;width: 50px;top: calc(50% - 50px);left: calc(50% - 50px);z-index: 2147483647; display:none;">
			<!--<%= image_tag('kappa-loading.gif') %>-->
		</div>
		<div class="row m-t-1">
			<div class="col-xs-12 col-md-offset-2 col-md-5 text-sm-left text-xs-center p-x-0">
				<h2><%= current_region.abbr.upcase %> <%= current_bracket.display_name %> Ladder</h2>
			</div>
			<div class="col-xs-12 col-md-3 p-x-0">
				<nav class="navbar navbar-light navbar-filter">
					<div class="input-group nav-item">
							<button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
								<i id="filterIcon" class="fa fa-filter"></i> Filter
							</button>
						<div class="dropdown-menu filterIcons">
							<% @classes.each do |c| %>
					    		<a href="" class="dropdown-item filterClassIcon" data-id="<%= c.id %>">
							    	<%= c.name %>
						    		<%= image_tag('icons/classes/class_' + c.id.to_s + '.png', class: 'img-rounded', width: '32', height: '32') %>
					    		</a>
					    	<% end %>
						</div>
						<input type="text" ng-model="query" class="form-control" placeholder="Search">
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
		    <div class="col-xs-12 col-md-offset-2 col-md-8 p-x-0" style="justify-content:center;">
		    	<table class="table table-sm table-hover">
		    		<thead>
		    			<tr>
		    				<th ng-click="order('ranking')" width="40">#</th>
		    				<th ng-click="order('name')">Name</th>
		    				<th ng-click="order('realm_name')" class="hidden-xs-down">Realm</th>
		    				<th ng-click="order('rating')" width="70">Rating</th>
		    			</tr>
		    		</thead>
		    		<tbody id="ladderContent">
		    			<tr ng-repeat="c in filteredCharacters = (characters | filter: customCharacterFilter) | orderBy:sort.orderVar:sort.reverse | limitTo: limitVar : beginVar" class="" ng-click="showCharacterHistory(c.id)">
		    				<th scope="row" width="40">{{c.ranking}}</th>
		    				<td><img width="20" height="20" ng-src='/assets/icons/races/race_{{c.character_race_id}}_{{c.gender_id}}.png' /> <img width="20" height="20" ng-src='/assets/icons/classes/class_{{c.character_class_id}}.png' /> <img width="20" height="20" ng-src='/assets/icons/specs/spec_{{c.character_spec_id}}.png' /> {{c.name}}</td>
		    				<td class="hidden-xs-down"><img width="20" height="20" ng-src='/assets/icons/factions/faction_{{c.faction_id}}.png' /> {{c.realm_name}}</td>
		    				<td width="70" class="text-xs-center">{{c.rating}}</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    	<div id="pagination" class="hidden-sm-down col-md-12">
			    	<nav class="text-xs-center">
			    		<ul class="pagination">
						    <li class="page-item" ng-class="{ disabled : pagination.current == 1 }">
						        <a class="page-link" href="" ng-click="pagination.current == 1 || setCurrentPage(1)">&laquo;</a>
						    </li>
						    <li ng-class="{ disabled : pagination.current == 1 }" class="ng-scope page-item">
						        <a href="" ng-click="pagination.current == 1 || setCurrentPage(pagination.current - 1)" class="ng-binding page-link">‹</a>
						    </li>
						    <li ng-if="pagination.current - 4 > 1 && pagination.last - 8 > 1" class="disabled page-item ng-scope">
						        <a href="" class="ng-binding page-link">...</a>
						    </li>
						    <li class="page-item" ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
						        <a class="page-link" href="" ng-click="setCurrentPage(pageNumber)">{{ pageNumber }}</a>
						    </li>
						    <li ng-if="pagination.current + 4 < pagination.last && pagination.last > pagination.current + 8" class="disabled ng-scope page-item">
						        <a href="" class="ng-binding page-link">...</a>
						    </li>
						    <li ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope page-item">
						        <a href="" ng-click="pagination.current == pagination.last || setCurrentPage(pagination.current + 1)" class="ng-binding page-link">›</a>
						    </li>
						    <li class="page-item" ng-class="{ disabled : pagination.current == pagination.last }">
						        <a class="page-link" href="" ng-click="pagination.current == pagination.last || setCurrentPage(pagination.last)">&raquo;</a>
						    </li>
						</ul>
					</nav>
				</div>
		    </div>
		</div>
	</div>
</body>