<body ng-app="app" ng-controller="CharacterCtrl" ng-init="getRecent('<%= @region.abbr %>', '<%= @bracket.name %>')">
	<div class="container-fluid">
		<div id="loadingGif" style="position: absolute;height: 50px;width: 50px;top: calc(50% - 50px);left: calc(50% - 50px);z-index: 2147483647; display:none;">
			<%= image_tag('kappa-loading.gif') %>
		</div>
		<div class="row m-t">
			<div class="col-xs-12 col-md-offset-2 col-md-5 text-center-xs p-x-0">
				<h2><%= current_region.abbr.upcase %> <%= current_bracket.display_name %> Recent Activity</h2>
			</div>
			<div class="col-xs-12 col-md-3 p-x-0">
				<nav class="navbar navbar-light navbar-filter">
					<div class="input-group nav-item">
							<button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
								<i id="filterIcon" class="fa fa-filter"></i> Filter
							</button>
						<div class="dropdown-menu filterIcons">
							<% @classes.each do |c| %>
					    		<a href="" class="dropdown-item filterClassIcon" data-id="<%= c.id %>">
							    	<%= c.name %>
						    		<%= image_tag('icons/classes/class_' + c.id.to_s, class: 'img-rounded', width: '32', height: '32') %>
					    		</a>
					    	<% end %>
						</div>
						<input type="text" ng-model="query" class="form-control" placeholder="Search">
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
		    <div class="col-xs-12 col-sm-offset-2 col-sm-8 p-x-0" style="justify-content:center;">
		    	<table class="table table-hover table-sm table-responsive">
		    		<thead>
		    			<tr>
		    				<th width="150">Name</th>
		    				<th width="200" class="hidden-xs-down">Realm</th>
		    				<th class="">Rating</th>
		    				<th class="hidden-xs-down">+/-</th>
		    				<th width="150" class="text-right">Time</th>
		    			</tr>
		    		</thead>
		    		<tbody id="ladderContent">
		    			<tr ng-repeat="c in filteredCharacters = (characters | filter: customRecentCharacterFilter) | limitTo: limitVar : beginVar track by c.id" ng-class="c.victory ? 'win' : 'loss'" ng-click="showCharacterHistory(c.character.id)">
		    				<td width="150"><img width="20" height="20" ng-src='/assets/icons/races/race_{{c.character.character_race_id}}_{{c.character.gender_id}}.png' /> <img width="20" height="20" ng-src='/assets/icons/specs/spec_{{c.character.character_spec_id}}.png' /> {{c.character.name}}</td>
		    				<td width="200" class="hidden-xs-down"><img width="20" height="20" ng-src='/assets/icons/factions/faction_{{c.character.faction_id}}.png' /> {{c.character.realm_name}}</td>
		    				<td class="">{{c.new_rating}}</td>
		    				<td class="hidden-xs-down">{{c.victory ? '+' : '-'}}{{c.rating_change}}</td>
		    				<td width="150" class="text-right" am-time-ago="c.retrieved_time"></td>
		    			</tr>
		    		</tbody>
		    	</table>
		    	<div id="pagination" class="hidden-sm-down col-md-12">
			    	<nav class="text-center">
			    		<ul class="pagination">
						    <li ng-class="{ disabled : pagination.current == 1 }">
						        <a href="" ng-click="pagination.current == 1 || setCurrentPage(1)">&laquo;</a>
						    </li>
						    <li ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
						        <a href="" ng-click="pagination.current == 1 || setCurrentPage(pagination.current - 1)" class="ng-binding">‹</a>
						    </li>
						    <li ng-if="pagination.current - 4 > 1 && pagination.last - 8 > 1" class="disabled ng-scope">
						        <a href="" class="ng-binding">...</a>
						    </li>
						    <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
						        <a href="" ng-click="setCurrentPage(pageNumber)">{{ pageNumber }}</a>
						    </li>
						    <li ng-if="pagination.current + 4 < pagination.last && pagination.last > pagination.current + 8" class="disabled ng-scope">
						        <a href="" class="ng-binding">...</a>
						    </li>
						    <li ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
						        <a href="" ng-click="pagination.current == pagination.last || setCurrentPage(pagination.current + 1)" class="ng-binding">›</a>
						    </li>
						    <li ng-class="{ disabled : pagination.current == pagination.last }">
						        <a href="" ng-click="pagination.current == pagination.last || setCurrentPage(pagination.last)">&raquo;</a>
						    </li>
						</ul>
					</nav>
				</div>
		    </div>
	  </div>
	</div>
</body>