<body ng-app="app" ng-controller="CharacterCtrl" ng-init="getRecent('<%= @region.abbr %>', '<%= @bracket.name %>')">
	<div class="container-fluid">
		<div id="loadingGif" style="position: absolute;height: 50px;width: 50px;top: calc(50% - 50px);left: calc(50% - 50px);z-index: 2147483647; display:none;">
			<%= image_tag('kappa-loading.gif') %>
		</div>
		<div class="row m-t-1">
			<div class="col-xs-12 col-md-offset-2 col-md-5 text-center-xs p-x-0">
				<h2><%= current_region.abbr.upcase %> <%= current_bracket.display_name %> Recent Activity</h2>
			</div>
			<div class="col-xs-12 col-md-3 p-x-0">
				<nav class="navbar navbar-light navbar-filter">
					<div class="input-group nav-item">
							<button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
								<i id="filterIcon" class="fa fa-filter"></i> Filter
							</button>
						<div class="dropdown-menu filterIcons">
							<% @classes.each do |c| %>
					    		<a href="" class="dropdown-item filterClassIcon" data-id="<%= c.id %>">
							    	<%= c.name %>
						    		<%= image_tag('icons/classes/class_' + c.id.to_s + '.png', class: 'img-rounded', width: '32', height: '32') %>
					    		</a>
					    	<% end %>
						</div>
						<input type="text" ng-model="query" class="form-control" placeholder="Search">
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
		    <div class="col-xs-12 col-sm-offset-2 col-sm-8 p-x-0" style="justify-content:center;">
		    	<table class="table table-hover table-sm table-responsive">
		    		<thead>
		    			<tr>
		    				<th width="170">Name</th>
		    				<th width="200" class="hidden-xs-down">Realm</th>
		    				<th class="">Rating</th>
		    				<th class="hidden-xs-down">+/-</th>
		    				<th width="150" class="text-xs-right">Time</th>
		    			</tr>
		    		</thead>
		    		<tbody id="ladderContent">
		    			<tr ng-repeat="c in filteredRecentCharacters = (characters | filter: customRecentCharacterFilter) | limitTo: limitVar : beginVar track by c.id" ng-class="c.victory ? 'win' : 'loss'" ng-click="showCharacterHistory(c.character.id)">
		    				<td width="170"><img width="20" height="20" ng-src='/images/icons/races/race_{{c.character.character_race_id}}_{{c.character.gender_id}}.png' title="{{races[c.character.character_race_id - 1].name}}" data-toggle="tooltip" data-placement="top" tooltip /> <img width="20" height="20" ng-src='/images/icons/specs/spec_{{c.character.character_spec_id}}.png' title="{{specs[c.character.character_spec_id].name + ' ' + classes[c.character.character_class_id - 1].name}}" data-toggle="tooltip" data-placement="top" tooltip /> {{c.character.name}}</td>
		    				<td width="200" class="hidden-xs-down"><img width="20" height="20" ng-src='/images/icons/factions/faction_{{c.character.faction_id}}.png' /> {{c.character.realm_name}}</td>
		    				<td class="">{{c.new_rating}}</td>
		    				<td class="hidden-xs-down">{{c.victory ? '+' : '-'}}{{c.rating_change}}</td>
		    				<td width="150" class="text-xs-right" am-time-ago="c.retrieved_time"></td>
		    			</tr>
		    			<tr ng-hide="!loading">
		    				<td colspan="5" class="text-xs-center">Loading recent activity...</td>
		    			</tr>
		    			<tr ng-hide="loading || characters.length">
		    				<td colspan="5" class="text-xs-center">No recent activity was found.</td>
		    			</tr>
		    			<tr ng-hide="loading || filteredRecentCharacters.length || !characters.length">
		    				<td colspan="5" class="text-xs-center">No characters were found.</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    </div>
	  </div>
	</div>
</body>