<style>
.chart {
	width:100%;
	min-height:300px;
	height:100%;
}
</style>
<div class="container-fluid">
	<div class="row text-xs-center m-t-1">
		<div class="col-xs-12">
			<h3>Statistics for the <%= current_region.abbr.upcase %> <%= current_bracket.display_name %> Bracket</h3>
		</div>
	</div>
	<div class="row text-xs-center m-t">
		<div class="col-xs-12 col-md-offset-1 col-md-5 p-x-0">
			<h4>Races</h4>
			<div id='raceChart' class="chart"></div>
  			<%= render_chart(@race_chart, 'raceChart') %>
  		</div>
  		<div class="col-xs-12 col-md-5 p-x-0">
  			<h4>Classes</h4>
  			<div id='classChart' class="chart"></div>
  			<%= render_chart(@class_chart, 'classChart') %>
  		</div>
  	</div>
  	<div class="row text-xs-center m-t">
  		<div class="col-xs-12 col-md-offset-1 col-md-5 p-x-0">
  			<h4>Factions</h4>
  			<div id='factionChart' class="chart"></div>
  			<%= render_chart(@faction_chart, 'factionChart') %>
  		</div>
  	</div>
</div>