<!DOCTYPE html>
<html>
<head>
  <title>/PvP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <script src='https://www.google.com/jsapi'></script>
  <link href='https://fonts.googleapis.com/css?family=Signika:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="row navbar navbar-light bg-faded">
	<a class="col-xs-2 col-sm-2 navbar-brand" href="/">/PvP</a>
	<ul class="col-xs-8 hidden-sm-up navbar-nav text-center">
		<li class="nav-item dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
				<%= current_bracket.display_name %>
			</button>
			<div class="dropdown-menu dropdown-menu-right text-center">
				<% Bracket.where.not(id: current_bracket.id).each do |bracket| %>
					<%= link_to bracket.display_name, {controller: "application", action: "set_bracket", bracket_id: bracket.id}, class: "dropdown-item" %>
				<% end %>
			</div>
		</li>
		<li class="nav-item dropdown">
			<button class="btn btn-secondary dropdown-toggle" title="<%= current_region.name %>" type="button" data-toggle="dropdown">
				<%= image_tag('icons/regions/' + current_region.abbr + '_icon.png', width: "30", alt: current_region.name) %>
			</button>
			<div class="dropdown-menu dropdown-menu-right text-center">
				<% Region.where.not(id: current_region.id).each do |region| %>
					<%= link_to(image_tag('icons/regions/' +  region.abbr + '_icon.png', width: "40"), {controller: "application", action: "set_region", region_id: region.id}, class: "dropdown-item", data: {toggle: "tooltip", placement: "left"}, title: region.name) %>
				<% end %>
			</div>
		</li>
	</ul>
	<div class="col-xs-2 hidden-sm-up navbar-hamburger"><a>&#9776;</a></div>
	<ul class="hidden-xs-down col-sm-8 navbar-nav text-xs-center">
		<li class="<% if current_page?('/ladder') %>active <% end %>nav-item center">
			<a class="nav-link" href="/ladder"><span>Ladder</span></a>
		</li>
		<li class="<% if current_page?('/stats') %>active <% end %>nav-item center">
			<a class="nav-link" href="/stats"><span>Stats</span></a>
		</li>
		<li class="<% if current_page?('/calculator') %>active <% end %>nav-item center dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" ><span>Tools</span></a>
		    <div class="dropdown-menu">
		      <a class="dropdown-item" href="/calculator">Conquest Calculator</a>
		      <a class="dropdown-item" href="#">Title Calculator</a>
		      <a class="dropdown-item" href="#">Team Comp Names</a>
		    </div>
		</li>
		<li class="<% if current_page?('/about') %>active <% end %>nav-item center">
			<a class="nav-link" href="#"><span>About</span></a>
		</li>
	</ul>
	<ul class="col-xs-2 hidden-xs-down navbar-nav text-sm-right text-xs-center">
		<li class="nav-item dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
				<%= current_bracket.display_name %>
			</button>
			<div class="dropdown-menu dropdown-menu-right text-center">
				<% Bracket.where.not(id: current_bracket.id).each do |bracket| %>
					<%= link_to bracket.display_name, {controller: "application", action: "set_bracket", bracket_id: bracket.id}, class: "dropdown-item" %>
				<% end %>
			</div>
		</li>
		<li class="nav-item dropdown">
			<button class="btn btn-secondary dropdown-toggle" title="<%= current_region.name %>" type="button" data-toggle="dropdown">
				<%= image_tag('icons/regions/' + current_region.abbr + '_icon.png', width: "30", alt: current_region.name) %>
			</button>
			<div class="dropdown-menu dropdown-menu-right text-center">
				<% Region.where.not(id: current_region.id).each do |region| %>
					<%= link_to(image_tag('icons/regions/' +  region.abbr + '_icon.png', width: "40"), {controller: "application", action: "set_region", region_id: region.id}, class: "dropdown-item", data: {toggle: "tooltip", placement: "left"}, title: region.name) %>
				<% end %>
			</div>
		</li>
	</ul>
</nav>


<%= yield %>

  <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-75503042-1', 'auto');
	ga('send', 'pageview');
  </script>
</body>
</html>
